[Unit]
Description=swayr daemon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/swayrd
Restart=always
RestartSec=10s
StandardOutput=null

[Install]
WantedBy=graphical-session.target
