[Unit]
Description=Tmux server with immortal empty session

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s empty -d
ExecStop=/usr/bin/tmux kill-session -t empty

[Install]
WantedBy=default.target
