[Unit]
Description=Day/night gamma adjustments
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/wlsunset -l 55.6 -L 12.5 -t 3500
Restart=on-failure

[Install]
WantedBy=graphical-session.target
