[submodule ".config/kak/kakoune-vertical-selection"]
	path = .config/kak/vertical-selection
	url = https://github.com/occivink/kakoune-vertical-selection
	branch = master
[submodule ".config/kak/auto-pairs"]
	path = .config/kak/auto-pairs
	url = https://github.com/alexherbo2/auto-pairs.kak
	branch = master
[submodule ".config/kak/langmap.kak"]
	path = .config/kak/langmap.kak
	url = https://github.com/andreyorst/langmap.kak.git
