[submodule ".config/kak/kakoune-vertical-selection"]
	path = .config/kak/vertical-selection
	url = https://github.com/occivink/kakoune-vertical-selection
	branch = master
[submodule ".config/kak/auto-pairs"]
	path = .config/kak/auto-pairs
	url = https://github.com/alexherbo2/auto-pairs.kak
	branch = master
[submodule ".config/kak/langmap.kak"]
	path = .config/kak/langmap.kak
	url = https://github.com/andreyorst/langmap.kak.git
[submodule ".config/kak/restclient.kak"]
	path = .config/kak/restclient.kak
	url = https://github.com/maximbaz/restclient.kak
[submodule ".config/kak/surround.kak"]
	path = .config/kak/surround.kak
	url = https://github.com/alexherbo2/surround.kak
[submodule ".config/kak/prelude.kak"]
	path = .config/kak/prelude.kak
	url = https://github.com/alexherbo2/prelude.kak
