[alias]
  me = !"git config user.name 'Maxim Baz'; git config user.email 'git@maximbaz.com'; git config commit.gpgsign true"
  ms = !"git config user.name 'Maxim Baz'; git config user.email 'maximbaz@microsoft.com'"
[branch]
  autosetuprebase = always
[color "branch"]
  current = green reverse
  local = green
  remote = yellow
[color "status"]
  added = green
  changed = yellow
  untracked = red
[core]
  autocrlf = input
  filemode = true
  pager = diff-so-fancy | less --tabs=4 -RFX
  excludesfile = ~/.gitignore
[merge]
  conflictstyle = diff3
  tool = nvimdiff
[mergetool]
  keepBackup = false
  prompt = false
[mergetool "nvimdiff"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff "gpg"]
  binary = true
  textconv = gpg2 --decrypt --quiet --yes --compress-algo=none --no-encrypt-to --batch --use-agent
[push]
  default = current
[rebase]
  autostash = true
  autosquash = true
[user]
  useConfigOnly = true
  signingkey = 8053EB88879A68CB4873D32B011FDC52DA839335
