[alias]
  me = !"git config user.name 'Maxim Baz'; git config user.email 'git@maximbaz.com'"
  ms = !"git config user.name 'Maxim Baz'; git config user.email 'maximbaz@microsoft.com'"
[branch]
  autosetuprebase = always
[color "branch"]
  current = green reverse
  local = green
  remote = yellow
[color "status"]
  added = green
  changed = yellow
  untracked = red
[core]
  autocrlf = input
  filemode = true
  pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
  conflictstyle = diff3
  tool = vimdiff
[mergetool]
  keepBackup = false
  prompt = false
[push]
  default = current
[rebase]
  autostash = true
  autosquash = true
[user]
  useConfigOnly = true

