[alias]
  ms = config user.email \"maximbaz@microsoft.com\"
[branch]
  autosetuprebase = always
[core]
  autocrlf = input
  filemode = true
[merge]
  conflictstyle = diff3
  tool = vimdiff
[mergetool]
  keepBackup = false
  prompt = false
[push]
  default = current
[rebase]
  autostash = true
  autosquash = true
[user]
  email = git@maximbaz.com
  name = Maxim Baz

