!----------------------------------------------------------
! Xft settings
!----------------------------------------------------------

Xft.dpi:                        192
Xft.antialias:                  true
Xft.rgba:                       rgb
Xft.hinting:                    true
Xft.hintstyle:                  hintslight


!----------------------------------------------------------
! URxvt settings
!----------------------------------------------------------

URxvt.depth:                    32
URxvt.background:               [80]#000000
URxvt.foreground:               #CCCCCC
URxvt.cursorColor:              #F3F3F3

URxvt.color0:                   #000000
URxvt.color8:                   #212121
URxvt.color1:                   #B71C1C
URxvt.color9:                   #C62828
URxvt.color2:                   #1B5E20
URxvt.color10:                  #2E7D32
URxvt.color3:                   #F57F17
URxvt.color11:                  #F9A825
URxvt.color4:                   #1976D2
URxvt.color12:                  #1E88E5
URxvt.color5:                   #4A148C
URxvt.color13:                  #6A1B9A
URxvt.color6:                   #0097A7
URxvt.color14:                  #00ACC1
URxvt.color7:                   #FAFAFA
URxvt.color15:                  #FFFFFF

URxvt.font:                     xft:Powerline Consolas:size=11

URxvt.saveLines:                65535
URxvt.skipScroll:               False

URxvt.scrollBar:                False
URxvt.scrollTtyOutput:          False
URxvt.scrollTtyKeypress:        True

URxvt.internalBorder:           0
!URxvt.fading:                   15

URxvt.perl-ext-common:          default,clipboard,url-select,keyboard-select

URxvt.url-select.launcher:      /usr/bin/google-chrome-stable
URxvt.url-select.underline:     True

URxvt.iso14755:                 False

URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-С:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.keysym.Shift-Control-М:   perl:clipboard:paste
URxvt.keysym.M-Escape:          perl:keyboard-select:activate
URxvt.keysym.M-s:               perl:keyboard-select:search
URxvt.keysym.M-u:               perl:url-select:select_next

