!----------------------------------------------------------
! Xft settings
!----------------------------------------------------------

Xft.dpi:                        192
Xft.antialias:                  true
Xft.rgba:                       rgb
Xft.hinting:                    true
Xft.hintstyle:                  hintslight

