#sidebar-box[sidebarcommand^="containertabs"] #sidebar-header {
  display: none;
}

#tabbrowser-tabs,
#TabsToolbar {
  visibility: collapse !important;
}

#navigator-toolbox[fullscreenShouldAnimate] {
  transition: none !important;
}
