[Desktop Entry]
Categories=Network;Email;
Exec=/usr/bin/neomutt %u
GenericName=Email client
Icon=/usr/share/doc/neomutt/logo/neomutt-128.png
MimeType=message/rfc822;x-scheme-handler/mailto;application/x-xpinstall;
Name=neomutt
StartupNotify=true
Type=Application
Terminal=true
