[Desktop Entry]
Categories=ConsoleOnly;System;FileTools;FileManager;
Exec=/usr/bin/kitty --class nnn /usr/bin/nnn
GenericName=File manager
Icon=system-file-manager
MimeType=inode/directory;
Name=nnn
StartupNotify=true
Type=Application
