[Unit]
Description=Pacman cache cleanup

[Service]
Type=oneshot
ExecStart=/usr/bin/paccache -r -c /var/cache/pacman/pkg -c /var/cache/pacman/maximbaz-aur
